Source: 6005-cw1-mw7g11
Section: web
Priority: optional
Maintainer: Ming Wen <mw7g11@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://mw7g11@github.com/mw7g11/info6005_cw1_mw7g11.git
#Vcs-Git: git@github.com:mw7g11/info6005_cw1_mw7g11.git

Package: 6005-cw1-mw7g11
Architecture: all
Depends: ${misc:Depends}, debconf, php5 (>= 5)
Description: <RSS from BBC news>
 <6005_cw1_mw7g11 is a RSS reader for BBC news which written in PHP>
