#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

script = $(CURDIR)/usr/bin/get-news
conf = $(CURDIR)/etc/feeds.conf
index = $(CURDIR)/usr/share/index.php	
rss = $(CURDIR)/usr/share/rss_php.php

target1 = $(CURDIR)/debian/info6005-cw1-mw7g11/usr/share
target2 = $(CURDIR)/debian/info6005-cw1-mw7g11/usr/bin
target3 = $(CURDIR)/debian/info6005-cw1-mw7g11/etc

build: 
	dh_testdir
	touch build

clean:
	dh_testdir
	dh_testroot
	rm -f build
	dh_clean

install:build clean $(script) $(conf) $(index) $(rss)
	
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(target1)
	mkdir -m 755 -p $(target2)
	mkdir -m 755 -p $(target3)

	install -m 644 $(index) $(target1)
	install -m 644 $(rss) $(target1)
	install -m 755 $(script) $(target2)
	install -m 644 $(conf) $(target3)

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
		
# Build architecture-dependent files here.
binary-arch: build install


	
binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
