Source: package
Section: x11
Priority: optional
Maintainer: Ming Wen <mw7g11@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/package.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/package.git;a=summary

Package: package
Architecture: all
Depends: ${misc:Depends}, debconf, php5 (>= 5)
Description: <RSS from BBC news>
 <info6005_cw1_mw7g11 is a RSS reader for BBC news which written in PHP>
