Package: info6005-cw1-mw7g11
Version: 1.0.0
Architecture: all
Maintainer: Ming Wen <mw7g11@soton.ac.uk>
Installed-Size: 68
Depends: debconf, php5 (>= 5)
Section: web
Priority: optional
Homepage: https://mw7g11@github.com/mw7g11/info6005_cw1_mw7g11.git
Description: <RSS from BBC news>
 <info6005_cw1_mw7g11 is a RSS reader for BBC news which written in PHP>
